/* mini reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin-regular';
    
    
}
article {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style-type: none;
}

/* FONTS */

@font-face {
    font-family: 'megan_juneregular';
    src: url('fonts/megan_june-webfont.woff2') format('woff2'),
         url('fonts/megan_june-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cabin-regular';
    src:  url('fonts/Cabin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Variables */

:root{
    --vert: #17cd28;
    --bordeaux:#933646;
    --fond-gris:#dedddd;
}

/* header */

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;


}
#bandeau {
    font-family: 'Cabin-regular';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bandeau h2 a {
    color: black;
    font-size: 3.5rem;
    border-bottom: 14px solid var(--bordeaux);
}

ul {
    display: flex;
    font-size: 2.2rem;
    text-transform: uppercase;
}

ul#menu_header li {
    margin-right: 20px;
    padding-right: 20px;
    font-size: 1.5rem;
    
}
ul li a {
    color: black;
    padding-bottom: 8px;
}
ul li a:hover {
    border-bottom: 14px solid var(--vert);
}
ul li a.choix {
    border-bottom: 14px solid var(--vert);
}

/* ==========MAIN========== */

#slider img {
    width: 100%;
}
main#contenu {
    background-color: var(--fond-gris);
}

    /* ==========section EN_AVANT========== */

section#en_avant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

section#en_avant article.promo {
   width: 31.6%;
   margin: 20px 10px;
   background-color: white;
   border: 1px solid #999898;
   padding: 30px 3%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
section#en_avant article.promo hr {
    width: 12%;
    color: var(--bordeaux);
    margin-top: 10px;
}
section#en_avant article.promo h3{
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-family: 'megan_juneregular';
}
article.promo p {
    width: 70%;
    line-height: 30px;
    text-align: justify;
    margin: 20px 0;
}
#bienvenue {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
#bienvenue .titre-visuel {
    width: 35%;
}
#bienvenue .titre-visuel h2 {
    font-family: 'megan_juneregular';
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-left: 6%;
}
#bienvenue .titre-visuel img{
    width:80% ;
}

#bienvenue #intro-texte hr {
    width: 4%;
    color: var(--bordeaux);
    margin-top: 10px; 
}
#intro-texte{
    margin-left: 30px;
}
#bienvenue #intro-texte p {

    width: 80%;
    margin-bottom: 50px;
}
ul#menu_intro {
    margin-bottom:40px;
    
}
ul#menu_intro div:first-child {
    margin-right: 70px;
}
ul#menu_intro li {
 
padding-right: 20px;
font-size: 1.5rem;   
}
#bienvenue .intro-texte ul li a {
    font-family: 'megan_juneregular';
    font-size: 1.5rem;
    color: black;
    line-height: 35px;

}
a#button_info {
    background-color: var(--vert);
    border-radius: 10px;
    color: white;
    padding: 10px;

}
/* ==========section EN_AVANT========== */

#slogan {
    background-image: url(images/home-05.jpg);
    background-size: cover;
    margin: -4px;
    background-color: white;
    color: white;
    height: 200px;
    
}
#slogan h4 {
    font-family: 'megan_juneregular';
    font-size: 3rem;
    text-align: center;
    padding: 55px;

}

#pied {
    background-color: black;
    height: 200px;
    color: white;
    align-items: center;
    display: flex;
}
#pied .container {
    font-family: 'megan_juneregular';
    display: flex;
    justify-content: space-between;
}

#pied .container .colonne-pied a {
 color: var(--vert);
 font-size: 2rem;
}
#pied .colonne-pied .fa-solid {
    justify-content: end;
    display: flex;
}
#slider {
    position: relative;
}
div.nivo-caption{
    position: absolute;
    top: 30%;
    left: 35%;
    background: none;
}
